@font-face {
  font-family: "Lotus Eater";
  src: url(media/LotusEater_Personal_use.otf) format("opentype");
}

body {
  font-family: "Lotus Eater", Arial, sans-serif;
  display:grid;
  color: white;
  place-content:center;
  min-height:100vh;
  overflow:hidden;
  background-image: url(media/Elm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  margin-bottom: 20px;
  text-shadow: 0 0 19px #00000088;
}

.w{
  margin-left: auto;
  margin-right: auto;
  width:65vmin;
  height:85vmin;
  background-color: #000000cc; 
  box-shadow: 0 0 80px 3px #00000088;
}

/* .w {
  width: 50vmin;
  height: 70vmin;
  background-color: #ffffff55;
  box-shadow: 0 0 18px 4px #ffffff88;
} */

.ts {
  width:100%; height:100%;
  position:relative;
  --barH:15%;/*active zone height = 100% - barH*/
}

.t {
  --w:20%;
  display:block; width:var(--w); height:var(--barH);
  position:absolute; bottom:0; left:var(--l);
  transform-origin:top left;
}

.t img {
  dislay:block; width:100%; height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  transform:scale(0.8);
}

[type="radio"] { 
  display:none; 
}

:checked + label.t {
  left:0; bottom:var(--barH);
  height:calc(100% - var(--barH));
}

:checked + label.t img {
  -o-object-fit:contain;
     object-fit:contain;
    position: relative;
    top: -20px;
}

/* 
optional
*/

.ts {/*thumbnails bar*/
  perspective:100px;
  perspective-origin:center center;
  transform-style:preserve-3d;
  pointer-events:none;
}

.ts:after {/*the plate*/
  content:"";
  display:block; width:100%; height:15px;
  position:absolute; bottom:0;
  background:linear-gradient(transparent 20%, rgba(0,0,0,0.1));
  transform:rotateX(90deg)scaleX(1.2);
  transform-origin:bottom center;
}

:not(:checked) + .t {
  transform: translate3d(0, 0, -10px);
  display: flex;
  pointer-events: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

:not(:checked) + .t:hover {
  transform:translate3d(0, -7px, -15px);
  box-shadow:0 30px 30px -25px rgba(0,0,0,0.3);
  cursor:pointer;
}

:not(:checked) + .t img {
  transform:scale(0.9);/*create gaps*/
  height: 80%;  
  position: relative;
  top: -20px;
}

:not(:checked) + .t .characterName {
  font-size: 1.11vw;
  text-overflow:ellipsis;
  font-family: "Lotus Eater", Arial, sans-serif;
  position: relative;
  top: 120px;
  
}

:checked + .t {/*active label*/
  box-shadow:0 0 0 transparent;
  -webkit-animation:anim 2s 1;
          animation:anim 2s 1;
} @-webkit-keyframes anim {
  from { transform:rotateY(6deg)rotateX(3deg) }
} @keyframes anim {
  from { transform:rotateY(6deg)rotateX(3deg) }
}

/* 
transitions
*/
.t {/*active->inactive & hover->rest*/
  transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s;
}
.t:hover, :checked + .t {
  transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s;
}

.characterName {
  font-size: 3em;
  /* color: black; */
  width: 100%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 50px;
  text-align: center;
  z-index: 1;
}
.float{
	position:fixed;
  font-size: 1.1em;
  letter-spacing: 2px;
	width:120px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgba(255, 184, 53, 0.822);
	color:#ffffff;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  text-decoration: none;
}

.float:hover{
  background-color: rgb(255, 197, 70);
  color: #000;
  text-decoration: none;
}

.float *{
  position: relative;
  top: 25px;
}





/* Css for mobile */
@media (max-width: 1444px) {
  :not(:checked) + .t .characterName {
    font-size: 1.81vw;
  }
}

@media (max-width: 1024px) {
  :not(:checked) + .t .characterName {
    font-size: 3.11vw;
  }
}

@media (max-width: 768px) {
  body{
    /* background-image: url(media/ElmHigh.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  .w {
    width: 80vmin;
    height: 100vmax;
    background-color: #00000088;
    box-shadow: 0 0 3px 1px #00000088;
  }

  .ts {
    perspective:50px;
    width: 100%;
    height: 100%;
    position: relative;
    --barH: 15%;
    /*active zone height = 100% - barH*/
  }

  .t {
    --w: 20%;
    display: block;
    width: var(--w);
    height: var(--barH);
    position: absolute;
    bottom: 0;
    left: var(--l);
    transform-origin: top left;
  }

  .t img {
    dislay: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(0.8);
  }

  [type="radio"] {
    display: none;
  }

  :checked + label.t {
    left: 0;
    bottom: var(--barH);
    height: calc(100% - var(--barH));
  }

  :checked + label.t img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  :not(:checked) + .t .characterName {
    font-size: 5.11vw;
  }

  .characterName{
    font-size: 2em;
  }
  h1{
    font-size: 2em;
  }
  .float{
    display: none;
  }

}
  /*