@font-face {
  font-family: "Lotus Eater";
  src: url(media/LotusEater_Personal_use.otf) format("opentype");
}

body {
  font-family: "Lotus Eater", Arial, sans-serif;
  display:grid;
  color: white;
  place-content:center;
  min-height:100vh;
  overflow:hidden;
  background-image: url(media/Elm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  font-size: 4em;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  margin-bottom: 20px;
  text-shadow: 0 0 19px #00000088;
}

.w{
  margin-left: auto;
  margin-right: auto;
  width:65vmin;
  height:85vmin;
  background-color: #000000cc; 
  box-shadow: 0 0 80px 3px #00000088;
}

.ts {
  width:100%; height:100%;
  position:relative;
  --barH:15%;/*active zone height = 100% - barH*/
  overflow-x: scroll;
  overflow-y: hidden;
  /* margin-right: 10px;
  margin-left: 10px; */
}

.t {
  --w:20%;
  display:block; width:var(--w); height:var(--barH);
  position:absolute; bottom:0; left:var(--l);
}

.t img {
  dislay:block; width:100%; height:90%;
  -o-object-fit:cover;
     object-fit:cover;
}

[type="radio"] { 
  display:none; 
}

:checked + label.t {
  top:15%;
  height:65%;
}

:checked + label.t img {
  -o-object-fit:contain;
     object-fit:contain;
    position: relative;
    top: 60px;
}

:checked + label.t .characterName {
  position: absolute;
  top: 0px;
}

.thumbnail-bar {
  display: flex;
  white-space: nowrap;
  width: fit-content;
}

.ts:after {/*the plate*/
  content:"";
  display:block; width:100%; height:15px;
  position:absolute; bottom:0;
  background:linear-gradient(transparent 20%, rgba(0,0,0,0.1));
}

:not(:checked) + .t {  
  display: flex;
  pointer-events: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
}

:not(:checked) + .t:hover {
  box-shadow:0 30px 30px -25px rgba(0,0,0,0.3);
  cursor:pointer;
}

:not(:checked) + .t img {
  height: 70%;  
  width: 110%;
}

:not(:checked) + .t .characterName {
  font-size: 0.81cqw;
  margin-top: 10px;
  text-overflow:ellipsis;
  white-space: nowrap ;  
  font-family: "Lotus Eater", Arial, sans-serif;
  
  
}

:checked + .t {/*active label*/
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow:0 0 0 transparent;
  -webkit-animation:anim 2s 1;
          animation:anim 2s 1;
} @-webkit-keyframes anim {
  from { transform:rotateY(6deg)rotateX(3deg) }
} @keyframes anim {
  from { transform:rotateY(6deg)rotateX(3deg) }
}

/* 
transitions
*/
.t {/*active->inactive & hover->rest*/
  transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s;
}
.t:hover, :checked + .t {
  transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s;
}

.characterName {
  letter-spacing: 0.5px;
  font-size: 3em;
  /* color: black; */
  width: 100%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  z-index: 1;
}
.float{
	position:fixed;
  font-size: 1.1em;
  letter-spacing: 1px;
	width:fit-content;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgba(53, 144, 255, 0.603);
	color:#ffffff;
	border-radius:50px;
	text-align:center;
	box-shadow: 0px 0px 4px #3d64d8;
  text-decoration: none;
  z-index: 5;
}

.float:hover{
  background-color: rgb(155, 248, 255);
  color: #000;
  text-decoration: none;
  box-shadow: 0px 0px 16px rgb(170, 222, 255);
}

.float *{
  position: relative;
  top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.float-mobile{
  display: none;
}
.float-pc{
  display: block;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(249, 249, 249, 0.137);
}

::-webkit-scrollbar-thumb
{
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.368);
}


@media (max-width: 1024px) {  
  :not(:checked) + .t img {    
    height: 60%;  
  }
  .characterName {
    font-size: 1.5cqw;
  }
}

@media (max-width: 768px) {
  body{
    /* background-image: url(media/ElmHigh.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  .w {
    width: 80vmin;
    height: 90vh;
    background-color: #00000088;
    box-shadow: 0 0 3px 1px #00000088;
  }

  .ts {    
    width: 100%;
    height: 100%;
    position: relative;
    --barH: 15%;
    /*active zone height = 100% - barH*/
  }

  .t {
    --w: 20%;
    display: block;
    width: var(--w);
    height: var(--barH);
    position: absolute;
    bottom: 0;
    left: var(--l);    
  }

  .t img {
    dislay: block;
    width: 100%;
    height: 70%;
    -o-object-fit: cover;
    object-fit: cover;
    /* transform: scale(0.8); */
  }

  [type="radio"] {
    display: none;
  }

  :checked + label.t {
    left: 0;
    top: 10%;
    height: 65%;
  }

  :checked + label.t img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;;
    top:40px;
  }
  

  :not(:checked) + .t .characterName {
    font-size: 1.9cqw;
    position: relative;
    top: 0px;
  }

  .characterName{
    font-size: 2em;
  }
  h1{
    font-size: 1.5em;
    position: relative;
    top:-5px;
    margin-bottom: 5px;
  }
  .float-pc{
    display: none;
  }
  .float{
    bottom: 20px;
    right: 20px;
    width: 70px; 
    height: 70px;     
    color: #000;
    background-color:rgba(53, 144, 255, 0.824);
    text-decoration: none;
    box-shadow: 0px 0px 16px rgb(0, 100, 163);   
  }
  .float:hover{
  background-color: rgb(155, 248, 255);
  }
  .float:hover img{
    filter: invert(100%);
  }
  .float-mobile{
    display: block;   
  }
  .float *{
    top: 6px;
    width: 40px;
    height: 40px;
  }
  .float img{
    
    margin-left: 0px;
    margin-right: 0px;
  }

  :not(:checked) + .t {    
    bottom: 4%;
  }

  :not(:checked) + .t img {    
    height: 60%;      
  }
  

}
  /*