* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*color: rgba(0, 238, 255, 0.747);*/
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f00dd, #7e00bf);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f00dd, #7e00bf);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}